*{

    padding:0;
    margin: 0;
    text-decoration:none;

}

/*Header*/
.header {
	padding: 20px 25px;
	float: left;
	width: 12%;
}
.footer-logo{
	padding: 20px;
	float: left;
	width: 12%;
}
#bgclr {
	background-image: url('../images/cover1.jpg');
	width: 100%;
}

.topnav {
	float: right;
	padding: 6px 10px;
	margin-top: 20px;
	margin-right:  16px;
	font-size: 14px;
	float: right;
	
}

.srch {
	border-radius: 8px 8px 8px 8px;
}

.quote {
	float: center;
	margin-left:400px;
	margin-top:30px;
	font-size: 30px;
}

ul.navi {
	list-style-type: none;
	margin: -8px;
	padding: 8px;
	background-color: #A6A5AE;
	overflow: hidden;
}

li.navi {
	float: left;
}

li.navi a {
	display: block;
    color: #000000;
    font-size: 15px;
    font-family: 'Segoe UI';
    font-weight: bold;
	text-align: center;
	padding: 8px 25px;
	text-decoration: none;
}

li.navi a:hover {
    background-color: #56555B;
	color: white;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}

.active,
.dot:hover {
    background-color: #B79797;
}

/*Header*/






.Contain-area{
	min-height: 100%;
}

#rounded {
	margin-left: 42px;
	border: 1px solid gray;
	border-radius: 5px;
	float: left;
	padding: 10px 18px;
}

.con {
	margin-left: 580px;
	margin-right: 280px;
}
table.catogary{
	table-layout: auto;
	width: 5080px;
}

#back{
	background-image : url('../images/wall.png');
	width: 100%;
}

/*payment*/
body{
	margin:0;
	padding:0;
	font-family:Arial;
}
section{
	width:100%;
	height:100vh;
	background-image:
	linear-gradient(rgba(0,34,76,0.9),rgba(0,34,76,0.9)),
	url("../images/paymentForm.jpg");
	background-position:center;
	background-size:cover;
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:arial;
}
.payment{
	margin-top: 100px;
	max-width:500px;
	width:100%;
	background:#fff;
	margin:auto;
	padding:30px;
	box-shadow:1px 1px 2px rgba(0,0,0,0.125);
}
.payment .title{
	font-size:24px;
	font-weight:700;
	margin-bottom:25px;
	color:#757575;
	text-transform:uppercase;
	text-align:center;
}
.payment .form{
	width:100%;
}
.payment .form .input_feild{
	margin-bottom:15px;
	display:flex;
	align-items:center;
}
.payment .form .input_feild lable{
	width:200px;
	color:#757575;
	margin-right:10px;
	font-size:14px;
}
.payment .form .input_feild .input{
	width:100%;
	outline:none;
	border:1px solid #d5dbd9;
	font-size:15px;
	padding:8px 10px;
	border-radius:3px;
}
.payment .form .input_feild .btn{
	width:100%;
	padding:8px 10px;
	font-size:15px;
	border:0;
	background:#fec107;
	color:#fff;
	outline:none;
}
.payment .form .input_feild .btn:hover{
	background:#ffd658;
}
#buttonPay{
	margin-left: 20px;
	margin-right: 10px;
	padding: 9px 25px;
	
	border-radius: 50px;
	cursor: pointer;
	
	justify-content: right;
	
}


/*Footer*/
.contact-Details{
	padding-top: 30px;
	padding-left: 50px;
	font-size: 15px;
}
.Branches-Details{
	padding-top: 30px;
	padding-left: 90px;
	font-size: 15px;
}
.social-details{
	padding-top: 30px;
	padding-left: 200px;
}
.social-icon{
	padding: 20px;
}
.icon{
padding: 10px;
}
.footer {
	position: relative;
	background-color: #4b4c4d;
	height: 200px;
	color: white;
    
}
.footer .footer-containt{
	display: flex;
	padding: 10px;
}
.footer .footer-containt.section{
	flex: 1;
	display: block;
	padding: 10px;
}
.footer-logo{
	width:250px;
	height: 100px;
	padding: 5px;
}
/*Footer*/