*{
    margin: 0px;
    padding: 0px;
}




/*Navigation bar styles start*/
.navBar_logo{
    text-align: left;
    margin-right: auto;
    }
    .nav_li{
        text-decoration: none;
    }
    header{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px 10px;
        background-color: #333338;
    }
    .nav_option{
        list-style: none;
        
    }
    .nav_option li{
        display: inline-block;
        padding: 0px 20px;
    }
    .nav_option li a{
        transition: all 0.3s ease 0s;
        color: darkgrey;
        text-decoration: none;
    }
    .nav_option li a:hover{
        color: coral;
    }
    #nav_button1{
        margin-left: 20px;
        margin-right: 10px;
        padding: 9px 25px;
        background-color: darkorange;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        justify-content: right;
    }
    #nav_button1:hover{
        background-color: rgb(247, 161, 57);
    }
    #nav_button2:hover{
        background-color: rgb(247, 161, 57);
    }
    #nav_button2{
        margin-left: 20px;
        margin-right: 10px;
        padding: 9px 25px;
        background-color:#333338;
        border:2px solid darkorange;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        justify-content: right;
        color: darkgray;
    }
    /*Navigation bar styles end*/
  
    

    

/*DOCTORS start */

.Staff_line{
    width: 200px;
    height: 3px;
    margin: 10px auto;
    background: #6ab04c;
}
.cart_line{
    display: inline-flex;
    padding-top: 20px;
}
.cards{
    width: 20%;
   
    border-radius: 10px;
    margin: 40px;
    
    
}
.cards:hover{
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
.image img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}
.title{
    text-align: center;
    padding: 5px;
}
.des{
    text-align: center;
}
.card_b1{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 10px;
    padding: 9px 25px;
    background-color:#ffffff;
    border:2px solid darkorange;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    justify-content: right;
    color: darkgray;
}
.card_b1:hover{
    background-color: rgb(247, 161, 57);
}

/*DOCTORS END */



/*appointment_form*/
.appointment_container{

    margin: 100px;
    box-shadow:10px 15px 20px  rgba(0, 0, 0, 0.1);
    background-color: white;
    display: grid;
    grid-template-columns: 40% 60%;

}
.appointment_img{
    padding: 30px;
    outline: 3px;
    margin-top: 100px;
}
.appointment_form{

    padding: 30px;
    margin: 0 auto;
    color: #1D8348;
}
.form-field{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
form{
    display: grid;
grid-row-gap: 5px;
}

.login_form button{

width: 400px;padding: 10px;align-content: center;
border-radius: 5px;
background-color: seagreen;
border: none;
}
.login_form input{
    border-color: blue;
    padding: 10px;
    border-radius: 10px;
}
.login_form #Fname_error,.login_form #MobileN_error,.login_form #EmailN_error,.login_form #G_error,.login_form #Date_error,.login_form #Date_error,.login_form #Sbranch_error,.login_form #Pdetail_error{
margin-top: 5px;
width: 345px;
font-size: 18px;
color: #C62828;
background: rgba(255, 0, 0,0.1);
text-align: center;
padding: 5px 8px;
border-radius: 10px;
border: 1px solid #EF9A9A;
display: none;

}


/*appointment_form*/






/* footer style start */

.footer{
    height: 400px;
    background: #333338;
    color: #ffffff;
    position: relative;
    
}
.footer .footer_data{
    
    display: flex;
    height: 350px;
    
}

.footer .footer_data .footer-colum{
    flex: 1;
    padding: 25px;
    
}

.footer .footer_under{
    background: #343a40;
    color: #6e6e6e;
    height: 40px;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    text-align: center;
    position: absolute;
    width: 100%;

}
.footer-colum span{
 display: inline;
 display: table-cell;
 vertical-align: middle;
 padding: 5px;
}

/* footer style start */